<div class="container" data-controller="master">
  <h5>マスタ管理</h5>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#access_category">交通手段</a></li>
        <li class="tab col s3"><a href="#event_category">イベントカテゴリ</a></li>
        <li class="tab col s3"><a href="#music">ミュージック</a></li>
        <li class="tab col s3"><a href="#job">職業</a></li>
      </ul>
    </div>
    <div id="access_category" class="col s12">
      <%= render partial: 'master/table', locals: { table: @access_categories,
                                                    columns: @access_categories_columns,
                                                    new_model: @access_categories_new } %>
    </div>
    <div id="event_category" class="col s12">
      <%= render partial: 'master/table', locals: { table: @event_categories,
                                                    columns: @event_categories_columns,
                                                    new_model: @event_categories_new } %>
    </div>
    <div id="music" class="col s12">
      <%= render partial: 'master/table', locals: { table: @musics,
                                                    columns: @musics_columns,
                                                    new_model: @musics_new } %>
    </div>
    <div id="job" class="col s12">
      <%= render partial: 'master/table', locals: { table: @jobs,
                                                    columns: @jobs_columns,
                                                    new_model: @jobs_new } %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "alerts", data: { turbo: false } do %>
  <div></div>
<% end %>